@model IEnumerable<Project_01_03_2024.Models.Utente>

<h2>Lista Utenti</h2>
<p>
    @Html.ActionLink("Registra Utente", "RegistraUtente", new { area = "" }, new { @class = "btn btn-primary" })
</p>
<table class="table mb-5">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeCompleto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Indirizzo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Citta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodiceFiscale)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeCompleto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Indirizzo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Citta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodiceFiscale)
        </td>

    </tr>
}

</table>
